* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeedeb;
  color: #3c3633;
  position: relative;
}

.mr-sm {
  margin-right: 1rem;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background-color: #e0ccbe99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.model,
.player-name-model {
  position: absolute;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.6rem 3.2rem 3.2rem;
  background-color: #7472644f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.hidden {
  display: none;
}

.container {
  border: 2px solid #e0ccbe;
  width: 70rem;
  height: 70rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.field {
  border: 2px solid rgb(190, 190, 190);
  border-top: none;
  border-right: none;
  font-size: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field:nth-child(1),
.field:nth-child(3n + 1) {
  border-left: none;
}

.field:nth-child(7) {
  border-bottom: none;
}
.field:nth-child(8) {
  border-bottom: none;
}
.field:nth-child(9) {
  border-bottom: none;
}

.newgame-btn,
.btn {
  background-color: #3c3633;
  color: #eeedeb;
  border: none;
  padding: 8px 32px;
  font-size: 2.8rem;
}

.btn-sm {
  padding: 6px 16px;
  font-size: 2rem;
}

.newgame-btn:hover,
.btn:hover {
  background-color: #504a47;
  cursor: pointer;
}

.winning-msg {
  font-size: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0rem;
}

.name-input-field {
  outline: none;
  padding: 0.8rem 0.8rem;
  font-size: 1.6rem;
}

.player-label {
  font-size: 2rem;
}

.name-container {
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: space-between;
  padding: 0px 3rem;
  top: 5rem;
  font-size: 2rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width: 449px) {
  html {
    font-size: 32.5%;
  }
  .container,
  .model {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 450px) and (max-width: 575px) {
  html {
    font-size: 42.5%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 50.5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 55.5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 58.5%;
  }
}
@media (min-width: 1200) and (max-width: 1400px) {
  html {
    font-size: 60.5%;
  }
}
